@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Global */
body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    background: #EEE;
    overflow-x: hidden;
}
main {
    display: flex;
    flex-direction: column;
}
section {
    background-color: #EEE;
    text-align: center;
}
mark {
    color: #FADC4D;
    background-color: transparent;
}

/* Header */
#logo {
    position: absolute;
    width: 75px;
    padding: 10px;
    cursor: pointer;
}
header {
    position: absolute;
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    right: 0;
    width: 100%;
}
header > p {
    cursor: pointer;
    color: white;
    margin: auto 20px;
    font-size: 20px;
    display: block;
}
header > img {
    cursor: pointer;
    margin: auto 10px;
    width: 30px;
    height: 30px;
    display: none;
}
@media (max-width: 500px) {
    header > p {
        display: none;
    }
    header > img {
        display: block;
    }
}

/* Hero section */
#hero {
    background: url("images/hero-wave.svg") no-repeat bottom, linear-gradient(#5B76FF, #312EFF);
    height: 100vh;
    color: white;
}
#hero > h1 {
    font-size: 75px;
    margin: 30vh 17.5vw 3vh;
}
#hero > h2 {
    font-size: 33px;
    font-weight: 600;
    margin: 0 20vw;
}
#hero > button {
    font-family: "Noto Sans", sans-serif;
    background-color: #FADC4D;
    border: none;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    font-size: 27px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 5.5vh;
    color: black;
}
@media (max-width: 1000px) {
    #hero-title {
        margin-top: 25%;
    }
}
@media (max-width: 617px) {
    #hero {
        height: 95vh;
        padding: 20px 0;
    }
    #hero-title {
        margin-top: 20vh;
        font-size: 13.5vw;
    }
    #hero-description {
        font-size: 6vw;
        margin: 0 4vw;
    }
    #hero-button {
        position: absolute;
        bottom: -1%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 230px;
        font-size: 21px;
        background-color: #DEDEDE;
        color: #333;
    }
}

/* Features section */
@keyframes featuresWaveProgression {
    0% {background-position-x: 100%};
    100% {background-position-x: 50%};
}
#features {
    height: auto;
    background: url("images/features-wave.svg") center no-repeat, #EEE;
    background-size: 120%;
    background-position-x: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: featuresWaveProgression 5s ease-in-out infinite alternate;
}
@media (max-width: 1516px) {
    #features {
        background-position-y: 0;
        background-repeat: no-repeat;
        background-size: 200% 50%
    }
}
@media (max-width: 1017px) {
    #features {
        background-position-y: 0px;
        background-repeat: repeat-y;
        background-size: 250% 33.33%;
    }
}
.tile {
    aspect-ratio: 7/10;
    width: 400px;
    margin: 25px 50px;
    border-color: #EEE;
    border-width: 0;
    border-style: solid;
}
.tile-image {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 60%;
}
.tile-description {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 40%;
    background: linear-gradient(#506CFF, #4340FF);
    color: white;
}
.tile-description > h1 {
    margin-top: 0;
    font-size: 35px;
    font-weight: 700;
}
.tile-description > p {
    padding: 0 10px;
    font-size: 20px;
    font-weight: 500;
}
@media (max-width: 500px) {
    .tile-description > h1 {
        font-size: 6vw;
    }
    .tile-description > p {
        margin-top: 0;
        font-size: 4vw;
    }
}
#tile-image-1 {
    background: url("images/tile-image-1.svg") center no-repeat, #506CFF;
    background-size: 65% 65%, 100% 100%;
}
#tile-image-2 {
    background: url("images/tile-image-2.svg") center no-repeat, #506CFF;
    background-size: 60% 60%, 100% 100%;
}
#tile-image-3 {
    background: url("images/tile-image-3.svg") center no-repeat, #506CFF;
    background-size: 60% 60%, 100% 100%;
}

/* WIP notice section */
#wip-notice {
    padding-top: 30px;
    padding-bottom: 30px;
    padding: 30px;
    font-size: 20px;
}

/* Footer */
footer {
    background-color: #E4E4E4;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer > p {
    color: #636363;
    margin: auto 20px;
    font-size: 100%;
}
footer > p:nth-child(3) {
    margin-left: auto;
}
@media (max-width: 419px) {
    footer > p:nth-child(3) {
        margin: auto 20px;
    }
    footer {
        justify-content: center;
    }
}
